<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextureUpscaler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImageScaler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextureUpscaler.Properties.Settings>
            <setting name="CheckSoundz" serializeAs="String">
                <value>False</value>
            </setting>
        </TextureUpscaler.Properties.Settings>
        <ImageScaler.Properties.Settings>
            <setting name="CheckSoundz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckTempz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckTopz" serializeAs="String">
                <value>False</value>
            </setting>
        </ImageScaler.Properties.Settings>
    </userSettings>
</configuration>